.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(99, 59, 104);
  color: rgb(245, 237, 228);
}

.div-title h1 {
  margin: 0;
}

header img{
  width: 30px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: -65px;
}

.div-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(99, 59, 104);
  color: rgb(245, 237, 228);
  padding: 10px 0;
}
a{
  display: block;
  color: rgb(167, 161, 201);
}

.div-footer img {
  width: 150px;
}



@media screen and ( min-width: 576px ){
  .div-footer{
    flex-direction: row;
    text-align: left;
  }

  .content-footer{
    padding-left: 20px;
  }

  header img{
    width: 40px;
    margin-right: 30px;
  }
}